.object{
    width: 150px;
    height: 150px;
    border: solid, 3px, blue;
    border-radius: 10px;

    margin-top: 500px;
    margin-left: 40px;
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}