.cloak {
  position: absolute;
  inset: 0;

  z-index: 10;
}

.windowBox {
  position: fixed;

  border-radius: 10px;
  box-shadow: 0 0 0 10000px rgba(26, 25, 25, 0.541);
}

.popup {
  z-index: 11;
}
